<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fra_uas.egoe.codered">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
                  android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ChooseRoleActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".SignupSenderActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".SignupReceiverActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".AccountSetupSenderActivity"
                  android:screenOrientation="portrait"></activity>
    </application>

</manifest>